
<h1 class="headline-primary" style="text-align: center; color: red;">--- A ---<br />-- F --<br />-- L --<br />---------<br />-----<br />-</h1>

<div class="grid">
	<header class="grid__col--12 header panel--centered" role="banner">
		<nav>
			<ul id="navbar">
				<li class="nav__item"><%= link_to "ABOUT", about_path %></li>
                <li class="nav__item"><%= link_to "ARTICLES", articles_path %></li>
				<li class="nav__item"><%= link_to "PODCAST", about_path %></li>
			</ul>
		</nav>
	</header>
</div>