//
// Extends - Modules
//


// Navigation Items

%nav-item-disp {
	@include mq(medium) {
		display: inline-block;
		margin: 0 em(21.5px);
	}
	@include mq(large) {
//		display: inline-block;
//		margin: 0 auto;
	}
}

%nav-item-links {
	font-size: em(16px);
	margin: 0 auto;
	padding-top: em(14px, 18px);
	padding-bottom: em(6px, 8px);
	padding-left: em(6px, 8px);
	padding-right: em(6px, 8px);
	max-width: em(200px);
	font-family: Arial;
	@include mq(medium) {
		font-size: em(18px)
	}
	@include mq(large) {
		padding: em(12px);
	}
}


%nav-item-on {

}

// headlines 

%headline-prim {
    font-size: em(28px);
    line-height: (48px / 55px);
    margin-bottom: em(24px, 38px);
    margin-top: em(6.4px);
	@include mq(medium) {
		margin-top: em(15.5px);
		font-size: em(44px);
    	line-height: (48px / 60px);
	}
	@include mq(large) {
		margin-top: em(6.4px);
		line-height: (61.5px / 68px);
	}
}

%headline-sec {
    font-size: em(26px);
	@include mq(medium) {
		margin-top: em(4px);
		font-size: em(42px);
    	line-height: (48px / 60px);
	}
}

%headline-tert {
	font-size: em(22px);	
}

%headline-qua {
	font-size: em(22px);	
}



